{% extends "layout.html" %}
{% block content %}
<div class="container py-4">
  <h2>Privatumo politika</h2>
  <p>Ši privatumo politika apibrėžia, kaip „Prinona“ el. parduotuvė renka, naudoja, saugo ir tvarko Jūsų asmens duomenis.</p>

  <h4>1. Kokius duomenis renkame?</h4>
  <ul>
    <li>Vardas, pavardė</li>
    <li>El. pašto adresas</li>
    <li>Telefono numeris</li>
    <li>Pristatymo adresas</li>
    <li>Apmokėjimo informacija</li>
    <li>IP adresas, naršyklės informacija</li>
  </ul>

  <h4>2. Kaip naudojame Jūsų duomenis?</h4>
  <ul>
    <li>Užsakymų administravimui ir pristatymui</li>
    <li>Mokėjimų apdorojimui</li>
    <li>Klientų aptarnavimui ir komunikacijai</li>
    <li>Rinkodarai (tik gavus sutikimą)</li>
    <li>Sistemos saugumui ir tobulinimui</li>
  </ul>

  <h4>3. Duomenų saugojimas</h4>
  <p>Jūsų asmens duomenis saugome tiek, kiek reikia tikslams, dėl kurių jie buvo surinkti, arba tiek, kiek numato teisės aktai.</p>

  <h4>4. Duomenų perdavimas trečiosioms šalims</h4>
  <p>Jūsų duomenis galime perduoti tik paslaugų teikėjams (pvz., kurjeriams, mokėjimų operatoriams), laikydamiesi konfidencialumo ir duomenų apsaugos reikalavimų.</p>

  <h4>5. Jūsų teisės</h4>
  <ul>
    <li>Gauti informaciją apie savo asmens duomenis</li>
    <li>Prašyti ištaisyti ar ištrinti duomenis</li>
    <li>Atsisakyti rinkodaros pranešimų</li>
    <li>Pateikti skundą Valstybinei duomenų apsaugos inspekcijai</li>
  </ul>

  <h4>6. Slapukai (Cookies)</h4>
  <p>Svetainėje naudojami būtini ir analitiniai slapukai, skirti tinkamam svetainės veikimui ir naudojimo analizei.</p>

  <h4>7. Kontaktai</h4>
  <p>Jei turite klausimų dėl privatumo politikos ar norite pasinaudoti savo teisėmis, rašykite mums el. paštu: <a href="mailto:info@prinona.lt">info@prinona.lt</a></p>
</div>
{% endblock %}
