{% extends 'layout.html' %}

{% block content %}
<div class="container" style="max-width:700px;margin:auto;padding:40px 20px;">
    <h1>Naudojimo taisyklės</h1>
    <ol>
        <li><b>Bendrosios nuostatos</b><br>
            Šios naudojimo taisyklės reglamentuoja svetainės naudojimą ir paslaugų teikimą.
            Naudodamiesi svetaine, sutinkate su visomis šiomis taisyklėmis.
        </li>
        <li><b>Registracija</b><br>
            Registruodamiesi Jūs pateikiate teisingus ir aktualius duomenis.<br>
            Jūs atsakote už savo paskyros saugumą ir neskelbiate prisijungimo duomenų tretiesiems asmenims.
        </li>
        <li><b>Privatumas</b><br>
            Jūsų asmens duomenys tvarkomi vadovaujantis galiojančiais teisės aktais ir privatumo politika.
        </li>
        <li><b>Draudžiama veikla</b><br>
            Draudžiama naudotis svetaine pažeidžiant teisės aktus ar kitų asmenų teises.
        </li>
        <li><b>Atsakomybės ribojimas</b><br>
            Svetainės administratoriai neatsako už trečiųjų šalių veiksmus ar pateiktą turinį.
        </li>
        <li><b>Taisyklių keitimas</b><br>
            Taisyklės gali būti atnaujintos. Apie pakeitimus bus pranešta svetainėje.
        </li>
        <li><b>Kontaktai</b><br>
            Kilus klausimų dėl taisyklių ar svetainės naudojimo, susisiekite el. paštu: <a href="mailto:info@prinona.lt">info@prinona.lt</a>
        </li>
    </ol>
</div>
{% endblock %}
